*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 0 2rem;
    border-bottom: 2px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 5rem;
}
main{
    padding: 3rem;
}
.t-center{
    text-align: center;
    color: blue;
    margin: 2rem 0;
}
.container{
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    /* text-align: center; */
    border: 1px solid blue;
    border-radius: 10px;
}
.input-container{
    margin-top: 2rem;
}
.d-block{
    display: block;
}
.custom-input{
    margin: 1rem 0;
    padding: 0.3rem 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
}
.custom-input::placeholder{
    color: gray;
}
.btn{
    padding: 0.5rem 0;
    width: 100%;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
}
.link-container{
    margin-top: 1rem;
    text-align: center;
}

.inner-container{
    text-align: center;
    /* background-color: gray; */
    padding: 2rem;
    line-height: 2rem;
}
div.cards{
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}
.event-container{
    border: 1px solid blue;
    border-radius: 10px;
    padding: 1.2rem;
    line-height: 2rem;
}

.t-light{
    color: lightgray;
}